.text-primary{
  color: var(--ion-color-primary) !important;
}

.text-secondary{
  color: var(--ion-color-secondary) !important;
}

.text-tertiary{
  color: var(--ion-color-tertiary) !important;
}

.background-primary{
  background-color: var(--ion-color-primary) !important;
}

.background-secondary{
  background-color: var(--ion-color-secondary) !important;
}

.background-tertiary{
  background-color: var(--ion-color-tertiary) !important;
}

.white-background-color{
  background-color: white;
}

.light-gray-background-color{
  background-color: rgb(245, 245, 245);
}

.termo{
}

.termo-container{
  border: 2px solid rgb(72, 131, 171);
  height: 268px;
}

.termo .termo-texto{
  border: 1px solid rgb(180, 202, 215);
  overflow-y: scroll;
  height: 210px;
}

.termo > input {
  margin-left: 2rem;
}

.display-grid{
  display: grid;
}

.faded {
  opacity: 0.5;
}

.rounded-pill-left {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.rounded-pill-right {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-footer h1{
  color: rgba($color: #000000, $alpha: 0.2)
}

.page-title-bottom {
  letter-spacing: 2px;
}

.text-smaller {
  font-size: 11px;
}

.text-small {
  font-size: 14px;
}

.connect-button{
  line-height: 14px;
}