<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar></ion-searchbar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="d-flex ion-justify-content-center">
    <ion-img
      src="assets/logo.png"
      style="width: 100px"
      class="ion-margin-vertical"
    ></ion-img>
    <div>
      <h1>
        Forum
      </h1>
      <h1>Cartilha da Cidade</h1>
    </div>
  </div>

  <ion-row>
    <ion-col>
      <ion-card style="background-color: white;">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex">
          <ion-item lines="none">
            <ion-label position="fixed">Usuário:</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label position="fixed">Senha:</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-button color="light" type="submit">Entrar</ion-button>
          <p>
            Não possui conta? Cadastre-se
          </p>
        </form>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card style="background-color: white;">
        <h2 class="ion-padding-horizontal">
          Tópicos Populares
        </h2>
        <ion-list>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="background-color: white;">
        <h2 class="ion-padding-horizontal">
          Tópicos Recentes
        </h2>
        <ion-list>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card style="background-color: white;">
        <h2 class="ion-padding-horizontal">
          Informativos
        </h2>
        <ion-list>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
          <ion-item>
            Lorem
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
